# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- Describe the components of a Data Scientist's toolkit and list various tool categories.
- List examples of open source tools used in data science.
- Describe the relevant features of open-source tools.
- List examples of commercial and cloud-based data science tools.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Natplotlib
4. Seaborn
5. Scikit-learn
6. Keras
7. Tensor Flow
8. PyTorch
9. ggplot2

| Data Science Tools |
| ------------------ |
| ApacheSpark        |
| Hadoop             |
| KNIME              |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kelly Turner